*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/src/main/res/servercert.p12
/app/src/main/res/raw/servercert.p12
/app/assets/servercert.p12
/app/src/main/assets/servercert.p12
/app/src/main/assets/servercert.bks
/assets/servercert.p12
/app/src/main/assets/clientcert.p12
